* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo 2", sans-serif;
    background-color: #f5f5f5;
}

header nav {
    width: 70%;
}

header nav ul {
    width: 90%;
    padding-left: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
}
header nav ul li .active{display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 4px;
    }
.invoice {
    width: 85%;
    margin-left: 70px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 400px 400px;
}

.invoice .grid1,
.invoice .grid2,
.invoice .grid3 {
    padding: 30px;
    line-height: 2.2;
}

h1 {
    font-size: 40px;
}

.invoice .grid1 p,
.invoice .grid2 p,
.invoice .grid3 p {
    font-size: 18px;
}

.invoice .grid2 {
    padding-top: 90px;
    padding-left: 200px;
}

.invoice .grid4 {
    position: relative;
}

.invoice .grid4 button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 220px;
    height: 50px;
    font-size: 20px;
    background-color: #111;
    color: white;
}

button {
    margin: 50px;
    width: 150px;
    height: 60px;
    background-color: #111;
    margin-left: 1200px;
}

button a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.summary {
    width: 95%;
    margin: 30px;
    border: 2px solid black;
    position: relative;
}

.summary img {
    position: absolute;
    top: -83px;
    left: 0;
}

.summary .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 2.6;
    font-size: 14px;
}

footer {
    width: 100%;
    padding-left: 50px;
    display: flex;
    flex-direction: row;
    padding-bottom: 100px;
    margin: 0;
}

footer .start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    align-items: start;
}

footer .end {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
    width: 30%;
    padding-right: 60px;
}

footer .end p {
    padding-left: 10px;
    padding-right: 10px;
}

footer .end p,
.footer .start p {
    font-size: 15px;
}

footer .start p a {
    font-size: 14;
    font-weight: lighter;
    color: #111;
}

.restart button {
    position: fixed;
    right: 10px;
    bottom: 5px;
    width: 90px;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
}

@media (max-width: 700px) {
    header nav {
        width: 100%;
    }

    header nav ul {
        flex-direction: column;
        padding: 20px 0;
        gap: 15px;
        padding-left: 0;
        align-items: center;
    }

    main {
        overflow-x: hidden;
    }
    .invoice {
        width: 95%;
        margin-left: 10px;
        border: 3px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 200px 200px;
    }
    
    .invoice .grid1,
    .invoice .grid2,
    .invoice .grid3 {
        padding: 10px;
        line-height: 1.2;
    }
    
    h1 {
        font-size: 25px;
    }
    
    .invoice .grid1 p,
    .invoice .grid2 p,
    .invoice .grid3 p {
        font-size: 15px;
    }
    
    .invoice .grid2 {
        padding-top: 20px;
    }
    
    .invoice .grid4 {
        position: relative;
    }
    
    .invoice .grid4 button {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 100px;
        height: 40px;
        font-size: 14px;
        background-color: #111;
        color: white;
    }
    
    button {
        margin: 50px;
        width: 150px;
        height: 60px;
        background-color: #111;
        margin-left: 20px;
    }
    
    button a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    
    .summary {
        width: 90%;
    }

    .summary .box {
        width: 90%;
        flex-direction: column;
        padding: 20px;
        font-size: 14px;
        padding-right: 0;
    }

    footer {
        flex-direction: column;
        padding: 20px;
        align-items: center;
        gap: 20px;
    }

    footer .start,
    footer .end {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        align-items: center;
        justify-content: center;
    }


    .restart button {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 90px;
            height: 40px;
            padding: 10px;
            background-color: black;
            border-radius: 20px;
        }

    .summary img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
}
@media (min-width: 700px) and (max-width: 1024px) {
    header nav {
        width: 100%;
    }

    header nav ul {
        padding-left: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .invoice {
        width: 95%;
        margin-left: 20px;
        border: 3px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px 300px;
    }
    
    .invoice .grid1,
    .invoice .grid2,
    .invoice .grid3 {
        padding: 20px;
        line-height: 1.6;
    }
    
    h1 {
        font-size: 30px;
    }
    
    .invoice .grid1 p,
    .invoice .grid2 p,
    .invoice .grid3 p {
        font-size: 16px;
    }
    
    .invoice .grid2 {
        padding-top: 20px;
        padding-left: 20px;
    }
    
    .invoice .grid4 {
        position: relative;
    }
    
    .invoice .grid4 button {
        position: absolute;
        right: 50px;
        bottom: 50px;
        width: 200px;
        height: 45px;
        font-size: 18px;
        background-color: #111;
        color: white;
    }
    
    button {
        margin: 50px;
        width: 150px;
        height: 60px;
        background-color: #111;
        margin-left: 120px;
    }
    
    button a {
        text-decoration: none;
        color: white;
        font-size: 15px;
    }
    

    .summary {
        width: 90%;
        margin: 10px;
    }

    .summary .box {
        flex-direction: row;
        padding: 30px 20px;
        font-size: 15px;
    }

    footer {
        flex-direction: row;
        padding: 20px;
        align-items: center;
        gap: 20px;
    }

    footer .start,
    footer .end {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }

    .row {
        flex-direction: column;
        gap: 10px;
    }

    .restart button {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 90px;
        height: 40px;
        padding: 10px;
        background-color: black;
        border-radius: 20px;
    }

    .summary img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }
}